<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjYZuY0IvrJsH6Js2tSKfD2hSWrhIp3I8</string>
	<key>GCM_SENDER_ID</key>
	<string>1038776736651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ancobridge.com</string>
	<key>PROJECT_ID</key>
	<string>ancobridge-5bb5b</string>
	<key>STORAGE_BUCKET</key>
	<string>ancobridge-5bb5b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038776736651:ios:04ffaadb268372c6daed8e</string>
</dict>
</plist>
